.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 2,5vw;
  width: 15vw;
}

.material-symbols-outlined {
  margin: 3vw;
  font-size: 3vw;
}